body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0 {
  position:absolute;
  left:314px;
  top:63px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:27px;
  background:inherit;
  background-color:rgba(48, 55, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:321px;
  top:124px;
  width:116px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:18px;
  background:inherit;
  background-color:rgba(45, 50, 118, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:326px;
  top:102px;
  width:156px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:331px;
  top:121px;
  width:156px;
  height:17px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:326px;
  top:169px;
  width:336px;
  height:43px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:43px;
  background-color:#4C4EA5;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:482px;
  background:inherit;
  background-color:rgba(68, 70, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:314px;
  top:222px;
  width:360px;
  height:482px;
}
#u10 {
  position:absolute;
  left:2px;
  top:233px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:178px;
}
#u11 {
  position:absolute;
  left:331px;
  top:272px;
  width:333px;
  height:178px;
}
#u12 {
  position:absolute;
  left:2px;
  top:81px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:48px;
}
#u14 {
  position:absolute;
  left:352px;
  top:483px;
  width:289px;
  height:48px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u16 {
  position:absolute;
  left:352px;
  top:538px;
  width:46px;
  height:12px;
  font-size:11px;
  color:#CCCCCC;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u18 {
  position:absolute;
  left:431px;
  top:538px;
  width:46px;
  height:12px;
  font-size:11px;
  color:#CCCCCC;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u20 {
  position:absolute;
  left:516px;
  top:538px;
  width:46px;
  height:12px;
  font-size:11px;
  color:#CCCCCC;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u22 {
  position:absolute;
  left:595px;
  top:538px;
  width:46px;
  height:12px;
  font-size:11px;
  color:#CCCCCC;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:48px;
}
#u25 {
  position:absolute;
  left:352px;
  top:576px;
  width:289px;
  height:48px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u27 {
  position:absolute;
  left:352px;
  top:631px;
  width:46px;
  height:12px;
  font-size:11px;
  color:#CCCCCC;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u29 {
  position:absolute;
  left:431px;
  top:631px;
  width:46px;
  height:12px;
  font-size:11px;
  color:#CCCCCC;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u31 {
  position:absolute;
  left:516px;
  top:631px;
  width:46px;
  height:12px;
  font-size:11px;
  color:#CCCCCC;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u33 {
  position:absolute;
  left:595px;
  top:631px;
  width:46px;
  height:12px;
  font-size:11px;
  color:#CCCCCC;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:314px;
  top:83px;
  width:360px;
  height:621px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u36 {
  position:absolute;
  left:634px;
  top:102px;
  width:23px;
  height:23px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:452px;
  top:88px;
  visibility:hidden;
}
#u38_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:273px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:1px;
  top:0px;
  width:214px;
  height:273px;
}
#u40 {
  position:absolute;
  left:2px;
  top:128px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u41 {
  position:absolute;
  left:45px;
  top:16px;
  width:23px;
  height:17px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:145px;
  top:11px;
}
#u43_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u43_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u43_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:21px;
  top:62px;
  width:71px;
  height:20px;
  color:#FFFFFF;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u50 {
  position:absolute;
  left:21px;
  top:102px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u52 {
  position:absolute;
  left:21px;
  top:145px;
  width:29px;
  height:20px;
  color:#999999;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u54 {
  position:absolute;
  left:8px;
  top:45px;
  width:200px;
  height:1px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u56 {
  position:absolute;
  left:21px;
  top:229px;
  width:29px;
  height:20px;
  color:#FFFFFF;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u58 {
  position:absolute;
  left:95px;
  top:92px;
  width:113px;
  height:20px;
  color:#FF00FF;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u60_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:111px;
  height:21px;
}
#u60p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:102px;
  height:1px;
  -webkit-transform:rotate(35deg);
  -moz-transform:rotate(35deg);
  -ms-transform:rotate(35deg);
  transform:rotate(35deg);
}
#u60p000_img {
  position:absolute;
  left:-9px;
  top:-7px;
  width:113px;
  height:21px;
}
#u60p001 {
  position:absolute;
  left:0px;
  top:-38px;
  width:22px;
  height:22px;
}
#u60p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u60p002 {
  position:absolute;
  left:90px;
  top:28px;
  width:2px;
  height:2px;
}
#u60p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:22px;
}
#u60.compound {
  width:0px;
  height:0px;
}
#u60 {
  position:absolute;
  left:64px;
  top:60px;
  width:100px;
  height:1px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:82px;
  height:21px;
}
#u62p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:2px;
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -ms-transform:rotate(-30deg);
  transform:rotate(-30deg);
}
#u62p000_img {
  position:absolute;
  left:-9px;
  top:-12px;
  width:84px;
  height:22px;
}
#u62p001 {
  position:absolute;
  left:-4px;
  top:5px;
  width:22px;
  height:22px;
}
#u62p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u62p002 {
  position:absolute;
  left:65px;
  top:-18px;
  width:2px;
  height:2px;
}
#u62p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:22px;
}
#u62.compound {
  width:0px;
  height:0px;
}
#u62 {
  position:absolute;
  left:50px;
  top:132px;
  width:71px;
  height:1px;
}
#u63 {
  position:absolute;
  left:2px;
  top:-8px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1px;
  top:51px;
  width:215px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:1px;
  top:92px;
  width:215px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:1px;
  top:224px;
  width:215px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u67 {
  position:absolute;
  left:21px;
  top:186px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:166px;
  top:185px;
}
#u69_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u69_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
#u71 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u69_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u73 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1px;
  top:175px;
  width:215px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:629px;
  top:51px;
  width:215px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u76 {
  position:absolute;
  left:243px;
  top:70px;
  width:295px;
  height:76px;
  color:#FF00FF;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:373px;
  top:51px;
  width:215px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u79 {
  position:absolute;
  left:379px;
  top:550px;
  visibility:hidden;
}
#u79_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u79_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u82 {
  position:absolute;
  left:30px;
  top:5px;
  width:201px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u83 {
  position:absolute;
  left:0px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u84 {
  position:absolute;
  left:36px;
  top:12px;
  width:29px;
  height:22px;
}
#u85 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u79_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u87 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u88 {
  position:absolute;
  left:30px;
  top:5px;
  width:201px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u89 {
  position:absolute;
  left:0px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u90 {
  position:absolute;
  left:36px;
  top:12px;
  width:29px;
  height:22px;
}
#u91 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u79_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u92 {
  position:absolute;
  left:22px;
  top:0px;
  width:191px;
  height:50px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u94 {
  position:absolute;
  left:37px;
  top:5px;
  width:201px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u95 {
  position:absolute;
  left:0px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u96 {
  position:absolute;
  left:43px;
  top:12px;
  width:29px;
  height:22px;
}
#u97 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u79_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u98 {
  position:absolute;
  left:22px;
  top:0px;
  width:191px;
  height:50px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u100 {
  position:absolute;
  left:37px;
  top:5px;
  width:201px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u101 {
  position:absolute;
  left:0px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u102 {
  position:absolute;
  left:43px;
  top:12px;
  width:29px;
  height:22px;
}
#u103 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u79_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u104 {
  position:absolute;
  left:22px;
  top:0px;
  width:191px;
  height:50px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u105 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u106 {
  position:absolute;
  left:37px;
  top:5px;
  width:201px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u107 {
  position:absolute;
  left:0px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u108 {
  position:absolute;
  left:43px;
  top:12px;
  width:29px;
  height:22px;
}
#u109 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:620px;
  top:88px;
  width:47px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u111 {
  position:absolute;
  left:314px;
  top:653px;
  visibility:hidden;
}
#u111_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u111_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  opacity:0.9;
}
#u113 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u114 {
  position:absolute;
  left:0px;
  top:16px;
  width:360px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
