body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:654px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:640px;
}
#u116 {
  position:absolute;
  left:314px;
  top:63px;
  width:340px;
  height:640px;
}
#u117 {
  position:absolute;
  left:2px;
  top:312px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  position:absolute;
  left:314px;
  top:81px;
  width:340px;
  height:56px;
}
#u119 {
  position:absolute;
  left:2px;
  top:20px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:352px;
  top:85px;
  width:242px;
  height:45px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:45px;
  background-color:#999999;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u121 {
  position:absolute;
  left:613px;
  top:96px;
}
#u121_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u121_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u121_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u121_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  font-size:16px;
  color:#FFFFFF;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u126 {
  position:absolute;
  left:321px;
  top:93px;
  width:26px;
  height:26px;
}
#u127 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:314px;
  top:137px;
}
#u128_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u128_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:289px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:289px;
}
#u130 {
  position:absolute;
  left:2px;
  top:136px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u131 {
  position:absolute;
  left:106px;
  top:17px;
  width:127px;
  height:20px;
  color:#F2F2F2;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u128_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u128_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:289px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:289px;
}
#u134 {
  position:absolute;
  left:2px;
  top:136px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u135 {
  position:absolute;
  left:106px;
  top:17px;
  width:127px;
  height:20px;
  color:#999999;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:33px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u137 {
  position:absolute;
  left:42px;
  top:13px;
  width:217px;
  height:33px;
  color:#BCBCBC;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u139 {
  position:absolute;
  left:42px;
  top:56px;
  width:94px;
  height:33px;
  color:#BCBCBC;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
}
#u141 {
  position:absolute;
  left:136px;
  top:110px;
  width:183px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:0px;
  top:13px;
  width:340px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  position:absolute;
  left:0px;
  top:51px;
  width:340px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u145 {
  position:absolute;
  left:599px;
  top:85px;
  width:55px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
